@using project1.Models;
@model IEnumerable<project1.Models.Animal>

@{
    ViewData["Title"] = "Index";
}

<h1>Catalog</h1>

<div class="container text-center">
    <label for="categoryForm">Please select a category:</label>
    <form name="categoryForm">
        @Html.DropDownList("id", new SelectList(ViewBag.CatList, "CategoryId", "Name"), "All", new { onchange = "categoryForm.submit()" })
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                <img src="@item.ImagePath" height="150" width="150"/>
            </td>
            <td>
                 <a asp-action="AnimalPage" asp-route-id="@item.AnimalId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
